.collective {
    padding-top: 94px;
    padding-bottom: 94px;
    background: var(--background-collective);
}

.collective-cards {
    display: flex;
}

.collective-cards__card {
    background-color: var(--background-collective-color);
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.collective-cards__worker-name {
    margin-top: 30px;
    text-align: center;
    @include font (500, 16px, 1.18, 0.03em);
}

.collective-cards__worker-position {
    margin-top: 10px;
    margin-bottom: 16px;
    text-align: center;
    @include font (normal, 16px, 1.18, 0.03em);
    color: var(--font-two-color);
}